<%= polaris_page(title: "Digital Humani API Settings") do %>
  <%= polaris_card(title: "Setup a Digital Humani Account") do |card| %>
    <% card.section do %>
      <%= polaris_stack(spacing: :loose, vertical: true) do |stack| %>
        <% stack.item do %>
          <p>Some information how to set up an account and where to find the credentials there.</p>
        <% end %>

        <% stack.item do %>
          <%= polaris_stack(distribution: :trailing) do %>
            <% polaris_button(url: 'https://digitalhumani.com/') { 'Learn more' } %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <%= polaris_card(title: "Connect your Digital Humani Account with shopify") do %>
    <%= form_with(model: @dh_api_settings, url: update_dh_api_settings_path(@dh_api_settings), method: "patch") do %>
      <%= polaris_form_layout do |form_layout| %>
        <% form_layout.item do %>
          <%= polaris_text_field(
                name: :api_key,
                label: "API key",
                value: @dh_api_settings.api_key,
                help_text: "The API key will be used for authenticating your API requests."
              ) %>
        <% end %>
        <% form_layout.item do %>
          <%= polaris_text_field(
                name: :enterprise_id,
                label: "Enterprise ID",
                value: @dh_api_settings.enterprise_id,
                help_text: "You will need the enterprise's ID to interact with most of the API calls.",
              ) %>
        <% end %>
        <% form_layout.item do %>
          <%= polaris_text_field(
                name: :project_id,
                label: "Project ID",
                value: @dh_api_settings.project_id,
                disabled: true
              ) %>
        <% end %>
        <% form_layout.item do %>
          <%= polaris_button(primary: true, submit: true) { "Send" } %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>