<%= polaris_page do %>
  <% if @shop_settings.api_key.blank? %>
    <%= render 'empty_api_state' %>
  <% else %>
    <% if @shop_settings.project_id.blank? %>
      <%= polaris_callout_card(
            title: "Choose a reforestation project",
            illustration: "https://cdn.shopify.com/s/assets/admin/checkout/settings-customizecart-705f57c725ac05be5a34ec20c05b94298cb8afd10aac7bd9c7ad02030f48cfa0.svg",
            ) do |callout| %>
        <% callout.primary_action(url: edit_shop_settings_path) { "Choose Project" } %>
        <% callout.secondary_action(url: "https://digitalhumani.com/#partners", external: true) { "Learn more about partner projects " } %>
      <% end %>
    <% end %>
    <%= polaris_callout_card(
          title: "Digital Humani API Settings",
          illustration: asset_pack_url('media/images/logo_digital_humani.png')
        ) do |callout| %>
      <p>You are currently connected to the Digital Humani API</p>
      <%= polaris_description_list do |list| %>
        <% list.item(term: "API key") do %>
          <%= @shop_settings.api_key %>
        <% end %>
        <% list.item(term: "Enterprise ID") do %>
          <%= @shop_settings.enterprise_id.present? ? @shop_settings.enterprise_id : 'not set yet' %>
        <% end %>
        <% if @shop_settings.project_id %>
          <% list.item(term: "Project") do %>
            <%= @shop_settings.project_name %>
          <% end %>
        <% end %>
      <% end %>

      <% callout.primary_action(url: edit_shop_settings_path) { "Edit API credentials" } %>
    <% end %>
  <% end %>
<% end %>